<div class="puzzle-one">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Guess the image</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 text-center" style="margin-left: 17%;">
      <div class="puzzle-one__image">
          <img src="../assets/images/Duck.jpg">
          <div class="puzzle_one__cards">

            <app-card-puzzle-one class="square-1" [name]="1">
              </app-card-puzzle-one>
    
            <app-card-puzzle-one class="square-2" [name]="2">
              </app-card-puzzle-one>
    
            <app-card-puzzle-one class="square-3" [name]="3">
                </app-card-puzzle-one>
    
            <app-card-puzzle-one class="square-4" [name]="4">
                </app-card-puzzle-one>
    
            <app-card-puzzle-one class="square-5" [name]="5">
                </app-card-puzzle-one>
    
            <app-card-puzzle-one class="square-6" [name]="6">
                  </app-card-puzzle-one>

            <app-card-puzzle-one class="square-7" [name]="7">
              </app-card-puzzle-one>

            <app-card-puzzle-one class="square-8" [name]="8">
                </app-card-puzzle-one>

            <app-card-puzzle-one class="square-9" [name]="9">
                  </app-card-puzzle-one>
            
            <app-card-puzzle-one class="square-10" [name]="10">
                    </app-card-puzzle-one>

            <app-card-puzzle-one class="square-11" [name]="11">
              </app-card-puzzle-one>

            <app-card-puzzle-one class="square-12" [name]="12">
                </app-card-puzzle-one>

            <app-card-puzzle-one class="square-13" [name]="13">
                  </app-card-puzzle-one>

            <app-card-puzzle-one class="square-14" [name]="14">
                    </app-card-puzzle-one>

            <app-card-puzzle-one class="square-15" [name]="15">
                      </app-card-puzzle-one>

            <app-card-puzzle-one class="square-16" [name]="16">
                        </app-card-puzzle-one>

          </div>

      </div>
    </div>
  </div>
</div>
